<!--Geidy Ducuara Ruiz - 200419082-->

<h1>New Products</h1>

<input type="text" id="search" onkeyup="myFilter()" placeholder="Search for Title.. .">

<div class="table-responsive">
    <table id="myTable"class="table table-info table-hover">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Used Product</th>

        </tr>


        {{#each products}}
        {{#if usedProduct}}
        {{else}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td>{{this.usedProduct}}</td>
        </tr>
        {{/if}}
        {{/each}}

    </table>
</div>