<!--Geidy Ducuara Ruiz - 200419082-->
<h1>Edit Ad Details</h1>

<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2">Title: *</label>
        <input name="title" id="title" required value="{{products.title}}" />
    </fieldset>

    <fieldset class="form-group">
        <label class="control-label col-md-2">Description: *</label>
        <input name="description" id="description" required value="{{products.description}}" />
    </fieldset>


    <fieldset class="form-group">
        <label class="control-label col-md-2">Quantity: *</label>
        <input name="quantity" id="quantity" required value="{{products.quantity}}" />
    </fieldset>

    <fieldset class="form-group">
        <label class="control-label col-md-2">Price: *</label>
        <input name="price" id="price" required value="{{products.price}}" />
    </fieldset>

    <fieldset>
        <label class="control-label col-md-2">Used Product: </label>
        {{#if products.usedProduct}}
        <input type="checkbox" id="usedProduct" name="usedProduct" checked="checked" />
        {{else}}
        <input type="checkbox" id="usedProduct" name="usedProduct" />
        {{/if}}
    </fieldset>
    <input type="hidden" name="-id" id="_id" value="{{products._id}}" />
    <button class="col-md-offset-2 btn-info">Save</button>
</form>
